* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0e0e0e;
  color: #f5f5f5;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 5%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: #999;
  font-weight: 500;
  font-size: 0.875rem;
}

nav a:hover {
  color: #eeeaea;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.intro {
  display: flex;
  margin-top: 5rem;
  padding: 4rem 2rem;
  flex-direction: column;
}

.intro1 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
}

.leftcontainer, .rightcontainer {
  flex: 1 1 100%;
  padding: 1rem;
}

.leftcontainer {
  padding-left: 0;
}

.rightcontainer {
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle {
  text-align: left;
  font-size: 2rem;
  font-weight: 300;
  max-width: 600px;
}

.description {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 300;
}

.button {
  margin-top: 2rem;
  padding: 10px 20px;
  border: 0.5px solid whitesmoke;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  color: antiquewhite;
}

.button:hover {
  background: white;
  color: #000;
}

.image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 1rem;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  width: 100%;
  height: auto;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  color: aqua;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .intro1 {
    flex-direction: row;
  }

  .leftcontainer, .rightcontainer {
    flex: 1 1 50%;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  nav {
    position: static;
    justify-content: center;
    margin: 1rem 0;
  }

  .intro {
    padding: 2rem 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
  }
}
